.main {
  background-color: darken(#fff, 5%);
  &__lefMenu {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 150px;
    padding: 40px 10px 0 10px;
    background: linear-gradient(to bottom, #fff, darken(#fff, 3%));
  }

  &__top {
    position: sticky;
    top: 16px;
    z-index: 100;
  }

  &__topFilter {
    border-radius: 50px;
    padding: 0 30px 0 30px;
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #fff, darken(#fff, 3%));
  }

  &__topDesign {
    position: absolute;
    width: 50px;
    height: 70px;
    transform: translateX(-40%);
  }

  &__input {
    width: 200px;
  }
}

